[submodule "reveal.js"]
	path = reveal.js
	url = git@github.com:lefticus/reveal.js.git
[submodule "CrazyEasyScriptingWithChaiScript/ChaiScript"]
	path = CrazyEasyScriptingWithChaiScript/ChaiScript
	url = git@github.com:ChaiScript/ChaiScript

